#appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#introText {
  width: 70vw;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}

#beerPic {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
